@font-face {
    font-family: neu;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
 }
 body{
    height: 100%;
    width: 100%;
    background-color: #111;
 }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
     
 }
 .nav1{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    
 }
 .nav1 img{
    height: 45px;
 }

 .nav1 h4{
    font-family: neu;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 100;
 }
 .nav2{
    display: flex;
    gap: 40px;
    align-items: center;
    font-family: neu;
 }
.nav2 h4{
    font-size: 18px;
    font-weight: 100;
 }
 .login{
    background-color: #24cfa6;
    height: 34px;
    width: 94px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 @media(max-width:600px){
nav{
        padding: 10px 25px;
    }
.nav1 img{
    height: 30px;
}
.nav1 h4{
    font-size: 12px;
    }

 .nav2 {
    display: none;
 }
 .logo{
    display: flex;
 }
}